.DS_Store
DslrDashboard
coc
configstore
gh
gtk-3.0
ifm
lazygit
mps-youtube
mpv
octave
pybliometrics.cfg
texstudio
wireshark
zsh
nvim/plugged/*
nvim/autoload/*
karabiner/*
htop/*
github-copilot/*
darktable/*
alacritty/themes
